<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_OrdersService" maxBufferSize="4000000"
                    maxReceivedMessageSize="4000000" />
                <binding name="BasicHttpBinding_CustomersService" maxBufferSize="4000000"
                    maxReceivedMessageSize="4000000" />
                <binding name="BasicHttpBinding_ProductsService" maxBufferSize="30000000"
                    maxReceivedMessageSize="30000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ServicesBAS/OrdersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_OrdersService"
                contract="OrderService.OrdersService" name="BasicHttpBinding_OrdersService" />
            <endpoint address="http://localhost/ServicesBAS/CustomersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CustomersService"
                contract="CustomerService.CustomersService" name="BasicHttpBinding_CustomersService" />
            <endpoint address="http://localhost/ServicesBAS/ProductsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ProductsService"
                contract="ProductService.ProductsService" name="BasicHttpBinding_ProductsService" />
        </client>
    </system.serviceModel>
</configuration>