<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_CustomersService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ServicesBAS/CustomersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CustomersService"
                contract="ServiceReference.CustomersService" name="BasicHttpBinding_CustomersService" />
        </client>
    </system.serviceModel>
</configuration>